node_modules

backend/config/config.dev.yaml

backend/config/config.prod.yaml

backend/logs/

backend/__debug_bin35862400

backend/backend.log

frontend/dist/

logs/

backend/cmd/stream_puller/stream-puller.log
